.App {
  text-align: center;
}

body {
  overflow: hidden;
}
.App-link {
  color: #61dafb;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.page.hp {
  background-color: red;
}

.page.ab {
  background-color: yellow;
}

.page.cn {
  background-color: greenyellow;
}

/* Swipe left */
/* Basic motion, start of the animation from left to right*/
.swipe-enter.left {
  z-index: 1;
  transform: translateX(100%);
}
.swipe-enter-active.left {
  transform: translateX(0%);
}

/* Swipe right */
.swipe-enter.right {
  transform: translateX(-5%);
}
.swipe-enter-active.right {
  transform: translateX(0%);
}

/* Making the screen darker while swiping */
.swipe-enter.right .darker {
  opacity: 1;
}
.swipe-enter-active.right .darker {
  opacity: 0;
}

/* Setting the transition, it bugged otherwise */
.swipe-enter.swipe-enter-active {
  transition: 400ms ease-in-out;
}

.swipe-exit.left {
  transform: translateX(0%);
}

/* Subtle backing of the previous screen when going left  */
.swipe-exit-active.left {
  transition: 400ms ease-in-out;
  transform: translateX(-5%);
}

/* Swiping the mounted screen right */
.swipe-enter.right + .swipe-exit {
  transform: translateX(0%);
  z-index: 1;
}
.swipe-enter.right + .swipe-exit-active {
  transform: translateX(100%);
}

/* Settings the darker */
.swipe-exit.left .darker {
  opacity: 0;
}
.swipe-exit-active.left .darker {
  opacity: 1;
}

/* Fixed an issue, where the mounted screen being swiped, the darker would get darker too */
.swipe-enter.right + .swipe-exit-active .darker {
  opacity: 0;
}

.darker {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(30, 30, 30, 0.8);
  opacity: 0;
  transition: 400ms ease-in-out;
  pointer-events: none;
}

.page a {
  color: #333;
  margin: 0 10px;
}
